<div class="card">
  <div class="card-body p-0">

      <ejs-grid
    #grid
    id="grid"
    [dataSource]="dataSource"
    [query]="query"
    [allowPaging]="true"
    [allowResizing]="true"
    [allowSorting]="true"
    [allowMultiSorting]='true'
    [enableInfiniteScrolling]="true"
    gridLines="Both"
    [editSettings]="editSettings"
    [toolbar]="toolbarOptions"
    (toolbarClick)="toolbarClick($event)"
    
  >
    <e-columns>
      <e-column
      field="option"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      textAlign="Left"
          headerTextAlign="Center"
      width="80"
      headerTextAlign="Center"
      headerText="{{ 'OPTION' | translate}}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)"class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="edit(data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>
      <e-column
        field="contractNo"
        [width]="120"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_NO' | translate }}"
      >
      </e-column>
  
      <e-column
        field="contractName"
        [width]="120"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_Name' | translate }}"
      >
      </e-column>
  
      <e-column
        field="contractPrincipal"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_Principal' | translate }}"
      >
      </e-column>
  
      <e-column
        field="contractTel"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_Tel' | translate }}"
      >
      </e-column>
  
      <e-column
        field="contractAddress"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_Address' | translate }}"
      >
      </e-column>
  
      <e-column
        field="contractLocation"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_Location' | translate }}"
      >
      </e-column>
  
      
      <e-column
        field="contractPhoto"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Contract_Photo' | translate }}"
      >
      </e-column>
  
      <e-column
        field="id"
        [allowSearching]="false"
        textAlign="Left"
        headerTextAlign="Center"
        [isPrimaryKey]="true"
        [visible]="false"
        headerText="ID"
      >
      </e-column>
    </e-columns>
  </ejs-grid>

  </div>
</div>
<app-contract-action (saveChange)="saveChange()"></app-contract-action>
