<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body p-0">
        <div style="height: 43px; line-height: 43px; font-weight: 500">
          <span style="padding-left: 0.5rem">
            {{ "Treatment" | translate }}
          </span>
        </div>
        <ejs-grid
          #grid
          id="grid"
          [dataSource]="data"
          [allowPaging]="false"
          [allowResizing]="true"
          [allowSorting]="true"
          gridLines="Both"
          [locale]="locale"
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [editSettings]="editSettings"
          [pageSettings]="pageSettings"
          [toolbar]="toolbarOptions"
          [allowExcelExport]="true"
          [selectedRowIndex]="0"
          enableInfiniteScrolling="true"
          (rowSelected)="rowSelected($event)"
          (recordClick)="recordClick($event)"
          [selectionSettings]="selectionOptions"
          (toolbarClick)="toolbarClick($event)"
          [height]="'90vh'"
        >
          <e-columns>
            <e-column
              field="option"
              [allowSorting]="false"
              [allowSearching]="false"
              [allowGrouping]="false"
              [allowFiltering]="false"
              [allowEditing]="false"
              textAlign="Left"
          headerTextAlign="Center"
              width="120"
              headerTextAlign="Center"
              headerText="{{ 'OPTION' | translate }}"
            >
              <ng-template #template let-data>
                <span (click)="delete(data.id)" class="delete-grid">
                  <i class="fa fa-trash"></i>
                </span>
                <span (click)="openModal(optionModal, data)" class="edit-grid">
                  <i class="fa fa-edit"></i>
                </span>
              </ng-template>
            </e-column>
            <e-column
              field="treatmentNo"
              textAlign="Left"
          headerTextAlign="Center"
              headerText="{{ 'TREATMENT_MASTER_NO' | translate }}"
            >
            </e-column>

            <e-column
              field="treatmentName"
              textAlign="Left"
          headerTextAlign="Center"
              headerText="{{ 'TREATMENT_MASTER_NAME' | translate }}"
            >
            </e-column>

            <e-column
              field="diseaseName"
              textAlign="Left"
          headerTextAlign="Center"
              headerText="{{ 'Disease' | translate }}"
            >
            </e-column>

            <e-column
              field="id"
[allowSearching]="false"
              textAlign="Left"
          headerTextAlign="Center"
              [isPrimaryKey]="true"
              [visible]="false"
              headerText="ID"
            >
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-2">
    <div class="card">
      <div class="card-body p-0">
       <app-treatment-detail
       [master]="treatmentMaster"
       >

       </app-treatment-detail>
      </div>
    </div>
  </div>
</div>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="treatmentNo">{{ "TREATMENT_MASTER_NO" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.treatmentNo"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="userType">{{ "TREATMENT_MASTER_NAME" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.treatmentName"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="userType">{{ "Disease" | translate }}</label>
         <app-disease-dropdownlist
         [(selectedValue)]="model.diseaseGuid"
         ></app-disease-dropdownlist>
        </div>
      </div>

     
     
      <div class="col-12">
        <div class="form-group">
          <label for="comment">{{ "TREATMENT_MASTER_COMMENT" | translate }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.treatmentNo || !model.treatmentName"
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
