<div class="d-flex justify-content-center align-items-center my-5">
  <div id="u19" class="ax_default image">
    <img id="u19_img" style="width: 261px; height: 173px" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/4G2XFU/ac/37/13/ac3713c7d7ef4b6d8b9f1c199212aebd/images/mobile_landlord_bankaccount2/u19.png?pageId=761a5933-f77e-411d-8402-6511e94eb765">
   
  </div>

  
</div>

<div class="d-flex justify-content-center align-items-center mb-5">
  <p><span>上傳銀行存摺</span></p>
</div>

<div class="d-flex justify-content-center align-items-center mb-5">
  <button type="button" class="btn btn-primary">確認新增</button>
</div>