<div class="card">
  <div class="card-body p-0">
    <span class="title">{{'Device' | translate}}</span>
      <ejs-grid
    #grid
    id="grid"
    [dataSource]="[]"
    [allowPaging]="true"
    [allowResizing]="true"
    [allowSorting]="true"
    [allowMultiSorting]='true'
    [enableInfiniteScrolling]="true"
    gridLines="Both"
    
  >
    <e-columns>
      <e-column
        field="deviceNo"
        [width]="120"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_NO' | translate }}"
      >
      </e-column>
  
      <e-column
        field="deviceName"
        [width]="120"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_Name' | translate }}"
      >
      </e-column>
  
      <e-column
        field="devicePrincipal"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_Principal' | translate }}"
      >
      </e-column>
  
      <e-column
        field="deviceTel"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_Tel' | translate }}"
      >
      </e-column>
  
      <e-column
        field="deviceAddress"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_Address' | translate }}"
      >
      </e-column>
  
      <e-column
        field="deviceLocation"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_Location' | translate }}"
      >
      </e-column>
  
      
      <e-column
        field="devicePhoto"
        textAlign="Left"
        headerTextAlign="Center"
        headerText="{{ 'Device_Photo' | translate }}"
      >
      </e-column>
  
      <e-column
        field="id"
        [allowSearching]="false"
        textAlign="Left"
        headerTextAlign="Center"
        [isPrimaryKey]="true"
        [visible]="false"
        headerText="ID"
      >
      </e-column>
    </e-columns>
  </ejs-grid>

  </div>
</div>