<div class="main-content" id="main-text">

  <div class="sidebar-content">
    <div class="flex-container-bio mt-3 mr-mobile">
      <div routerLink="/mobile/landlord-profile">{{ 'My profile' | translate }}</div>
    </div>
    <div class="flex-container-bio mr-mobile">
      <div routerLink="/mobile/repair">{{ 'Repair' | translate }}</div>
    </div>

    <div class="line"></div>
    <div class="flex-container-bio">
      <div routerLink="/mobile/report">{{ 'Report' | translate }}</div>
    </div>

    <div class="line"></div>
    <div class="flex-container-bio">
      <div routerLink="/mobile/account">{{ 'Account' | translate }}</div>
    </div>

    <div class="line"></div>
    <div  class="flex-container-bio-desktop">
      <div (click)="backDesktop()">{{ 'Desktop' | translate }}</div>
    </div>

    <div  class="flex-container-bio-desktop">
      <div (click)="logout()">{{ 'SIGN_OUT' | translate }}</div>
    </div>
  </div>
</div>

