<ng-template #recordAccidentFeeModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ "Record_Accident_Fee" | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal">
    <ejs-grid
      #grid
      id="grid"
      [dataSource]="data"
      [allowPaging]="false"
      [allowResizing]="true"
      [showColumnMenu]="false"
      [allowSorting]="true"
      [allowExcelExport]="true"
      [toolbar]="toolbarOptions"
      [pageSettings]="pageSettings"
      [enableInfiniteScrolling]="true"
      height="50vh"
      gridLines="Both"
      [query]="query"
      [editSettings]="editSettings"
      (actionBegin)="actionBegin($event)"
      (toolbarClick)="toolbarClick($event)"
      (excelExportComplete)="excelExpComplete($event)"
    >
      <e-columns>
        <e-column
        field="option"
        textAlign="Left"
        headerTextAlign="Center"
        [autoFit]="true"
        width="80"
        headerTextAlign="Center"
        [allowSorting]="false"
        [allowSearching]="false"
        [allowGrouping]="false"
        [allowFiltering]="false"
        [allowEditing]="false"
        headerText="{{ 'OPTION' | translate }}"
      >
        <ng-template #template let-data>
          <span (click)="delete(data)" class="delete-grid">
            <i class="fa fa-trash"></i>
          </span>
        </ng-template>
      </e-column>
        <e-column
          field="id"
          [allowSearching]="false"
          textAlign="Left"
          headerTextAlign="Center"
          [visible]="false"
          isPrimaryKey="true"
          headerText="{{ 'ID' }}"
        >
        </e-column>
        <!-- <e-column
          field="saleGuid"
          [allowSearching]="false"
          [allowFiltering]="false"
          textAlign="Left"
          headerTextAlign="Center"
          headerText="{{ 'Sale_GUID' | translate }}"
        >
        </e-column> -->
        <e-column
          [allowSearching]="false"
          [allowFiltering]="false"
          field="accidentDisease"
          textAlign="Left"
          headerTextAlign="Center"
          headerText="{{ 'Accident_Disease' | translate }}"
        >
        <ng-template #editTemplate let-data>
          <app-disease-dropdownlist
            id="accidentDisease"
            [(selectedValue)]="accidentDisease"
          >
          </app-disease-dropdownlist>
        </ng-template>
        <ng-template #template let-data>
          {{ data.accidentDiseaseName }}
        </ng-template>
        </e-column>

        <e-column
          field="accidentQty"
          textAlign="Left"
          headerTextAlign="Center"
          editType="numericEdit"
          headerText="{{ 'Accident_Qty' | translate }}"
        >
        </e-column>

        <e-column
          field="accidentFee"
          textAlign="Left"
          editType="numericEdit"
          headerTextAlign="Center"
          headerText="{{ 'Accident_Fee' | translate }}"
        >
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.dismiss('Cross click')"
    >
      {{ "CLOSE" | translate }}
    </button>
  </div>
</ng-template>
