.field-info {
    background-color: rgba(214, 219, 226, 1);
    border: none;
    border-radius: 5px;
    color: #0377CA;
    border-width: 0px;
    font-family: 'Microsoft JhengHei UI Bold', 'Microsoft JhengHei UI Regular', 'Microsoft JhengHei UI', sans-serif;
    font-weight: 700;
    height: 60px;
}