<ng-template #actionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title | translate }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
    <span aria-hidden="true">&times;</span>

  </button>
  </div>
  <div class="modal-body">



    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="type">{{ "Site" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-site-dropdownlist
            id="site"
            [enabledLoad]="true"
            [(selectedValue)]="model.siteGuid"
          >
          </app-site-dropdownlist>
        </div>
      </div>

          <div class="col-6">
            <div class="form-group">
              <label for="type">{{ "ParkingLot_Type" | translate }}</label>
              <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
              <app-code-type-dropdownlist
                id="ParkingLot_Type"
                [codeType]="'ParkingLot_Type'"
                [(selectedValue)]="model.parkingLotType"
              >
              </app-code-type-dropdownlist>
            </div>
          </div>

          <div class="col-6">
            <label>{{ "ParkingLot_NO" | translate }} </label>
            <span class="max-length">
              ( {{ "Text length" | translate }} <= 100 )</span
            >
            <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
            <div class="form-group">
              <input
                maxlength="100"
                type="text"
                [(ngModel)]="model.parkingLotNo"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-6">
            <label>{{ "ParkingLot_Name" | translate }} </label>
            <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
            <span class="max-length">
              ( {{ "Text length" | translate }} <= 200 )</span
            >
            <div class="form-group">
              <input
                maxlength="200"
                type="text"
                [(ngModel)]="model.parkingLotName"
                class="form-control"
              />
            </div>
          </div>
<!-- 
          <div class="col-6">
            <div class="form-group">
              <label for="device">{{ "Device" | translate }}</label>
              <app-device-dropdownlist
                id="device"
                [(selectedValue)]="model.deviceGuid"
              >
              </app-device-dropdownlist>
            </div>
          </div> -->

          <div class="col-6">
            <label>{{ "Device_LR" | translate }} </label>
            <span class="max-length">
              ( {{ "Text length" | translate }} <= 20 )</span
            >
            <div class="form-group">
              <input
                maxlength="20"
                type="text"
                [(ngModel)]="model.deviceLr"
                class="form-control"
              />
            </div>
          </div>


        <div class="col-12">
          <label>{{ "AREA_COMMENT" | translate }} </label>
          <div class="form-group">
            <textarea
              class="form-control"
              [(ngModel)]="model.comment"
              cols="4"
              rows="4"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    
  <div class="modal-footer">
    <button
    type="button"
    class="btn btn-light"
    ngbTooltip="CLOSE"
    (click)="modal.close('Close click')"
  >
    {{ "CLOSE" | translate }}
  </button>
  
    <button
    [disabled]="!model.parkingLotName || !model.parkingLotNo || !model.parkingLotType"
    (click)="save()"
    class="btn btn-primary"
  >
    {{ "SAVE" | translate }}
  </button>
  </div>
</ng-template>
