


<ejs-grid
[dataSource]="treatmentData"
[allowPaging]="true"
[pageSettings]="pageSettings"
[editSettings]="editSettingsTreatment"
(actionBegin)="actionBeginTreatment($event)"
(actionComplete)="actionComplete($event)"
[toolbar]="['Add', 'Search']"
[height]="300 + 'px'"
gridLines="Both"
>
<e-columns>
  <e-column headerText='' width='160' [commands]='commands'></e-column>
  <e-column
    field="id"
    textAlign="Left"
    [visible]="false"
    headerTextAlign="Center"
    headerText="{{ 'Id' | translate }}"
  >
  </e-column>

  <e-column
  field="type"
  textAlign="Left"
  [visible]="false"
  headerTextAlign="Center"
  headerText="{{ 'Type' | translate }}"
>
</e-column>

  <e-column
    field="treatmentNo"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Treament_No' | translate }}"
  >
  </e-column>
  <e-column
    field="treatmentDate"
    textAlign="Left"
    headerTextAlign="Center"
    format="yyyy/MM/dd"
    editType="datepickeredit"
    headerText="{{ 'Treatment_Date' | translate }}"
  >
  </e-column>

  <e-column
  field="medicineGuid"
  textAlign="Left"
  headerTextAlign="Center"
  editType="dropdownedit"
  headerText="{{ 'Treatment_Medicine' | translate }}"
>
<ng-template #editTemplate let-data>
  <app-medicine-dropdownlist
  id="medicine"
  [(selectedValue)]="treatmentItem.medicineGuid"
  (selectedValueName)="selectedValueName($event)"
>
</app-medicine-dropdownlist>
</ng-template>

<ng-template #template let-data>
{{data.medicineName}}
</ng-template>

</e-column>

<e-column
field="treatmentDose"
textAlign="Left"
headerTextAlign="Center"
editType="numericEdit"
[edit]="numbericEdit"
headerText="{{ 'Treatment_Dose' | translate }}"
>
</e-column>

<e-column
field="treatmentTimes"
[edit]="numbericEdit"
textAlign="Left"
headerTextAlign="Center"
editType="numericEdit"
headerText="{{ 'Treatment_Times' | translate }}"
>
</e-column>

</e-columns>

</ejs-grid>