<div class="landlord-title">
    {{'Landlord' | translate}}
</div>
<section id="video-background-home">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                [src]="link"
                allow="autoplay; encrypted-media"
                id="youtube-intro-frame"></iframe>
    </div>
    <!-- <img class="avatar" src="https://www.shutterstock.com/image-photo/smiling-girl-student-wear-wireless-260nw-1492613150.jpg" /> -->
    <div class="info">
        <a [routerLink]="'/mobile/landlord-login'">{{'Landlord_Next' | translate}}</a>
    </div>
</section>