<nav aria-label="breadcrumb" class="mobile-nav">
  <ol class="breadcrumb mobile-breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="'/mobile/home/' + areaName">{{'Home' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'My Field' | translate}}</li>
  </ol>
</nav>
<div class="card m-2"  *ngFor="let input of dataSource; let i = index">
<div class="card-body p-1">
  <div class="row" [routerLink]="'/mobile/field/' + areaName +'/detail/' + input?.guid" >
    <div class="col-5 text-center d-flex align-items-center justify-content-center">
      <img
      [src]="input?.sitePhoto ? baseUrl + input?.sitePhoto : noImage"
        width="150"
        height="150"
        [alt]="input?.siteName"
        class="img-fluid"
      />
    </div>
    <div class="col-7">
      <h2 class="lead"><b>{{input?.siteName}}</b></h2>
      <p class="text-muted text-sm">
        {{ input?.siteAddress }}
      </p>
      <p>
        {{ input?.comment }}
      </p>
    </div>
  </div>
</div>
</div>
  