<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">{{ "Death_Type" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
            id="record-death-type-remote"
            [codeType]="'Record_Death_Type'"
            [(selectedValue)]="model.type"
            [disabled]="
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            "
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="estDate">{{ "Death_EST_DATE" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.estDate"
            [disabled]="
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            "
          ></ejs-datepicker>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="makeOrderGuid">{{ "Make_Order" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-makeorder-dropdownlist
            [(selectedValue)]="model.makeOrderGuid"
            (change)="onChangeMakeOrder($event)"
            [disabled]="
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            "
          >
          </app-makeorder-dropdownlist>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-4">
      <div class="form-group">
        <label for="deathMethod">{{ "DEATH_METHOD" | translate }}</label>
        <input
          [(ngModel)]="model.deathMethod"
          min="0"
          type="number"
          [disabled]="model.status === statusConts.Execute && disabledInput(model.executeDate) || model.status === statusConts.Reject"
          class="form-control"
        />
      </div>
    </div> -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="deathReason">{{ "DEATH_REASON" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-disease-dropdownlist
            id="deathReason-remote"
            [(selectedValue)]="model.deathReason"
            [disabled]="
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            "
          >
          </app-disease-dropdownlist>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="type">{{ "disaster" | translate }}</label>
          <app-code-type-dropdownlist
            id="disaster-remote"
            [codeType]="'disaster'"
            [(selectedValue)]="model.disaster"
            [disabled]="
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            "
          >
          </app-code-type-dropdownlist>
        </div>
      </div>
      <!-- <div class="col-md-4">
      <div class="form-group">
        <label for="avgWeight">{{ "AVG_WEIGHT" | translate }}</label>
        <input
          [(ngModel)]="avgWeight"
          min="0"
          type="number"
          [disabled]="true"
          class="form-control"
        />
      </div>
    </div> -->
      <!-- <div class="col-md-4">
      <div class="form-group">
        <label for="deathWeight">{{ "DEATH_WEIGHT" | translate }}</label>
        <input
          [(ngModel)]="model.deathWeight"
          min="0"
          type="number"
          [disabled]="model.status === statusConts.Execute && disabledInput(model.executeDate) || model.status === statusConts.Reject"
          class="form-control"
        />
      </div>
    </div> -->
    </div>

    <!-- Apply -->
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="applyDate">{{ "APPLY_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.applyDate"
            [disabled]="model.applyGuid"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="applyReason">{{ "APPLY_REASON" | translate }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.applyReason"
            maxlength="100"
            type="text"
            [disabled]="disabledApplyReason(model)"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="applyGuid">{{ "APPLY_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="applyGuid"
                [(selectedValue)]="model.applyGuid"
                [disabled]="model.applyGuid"
              >
              </app-account-dropdownlist>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
              *ngIf="!(model.id > 0) || !model.applyDate"
              [disabled]="
                !model.type ||
                !model.estDate ||
                !model.makeOrderGuid ||
                !model.deathReason
              "
              (click)="save()"
              class="btn btn-primary mb-3 ml-2"
            >
              {{ "Apply" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- End apply -->

    <!-- Agree -->
    <div
      class="row"
      *ngIf="
        model.id > 0 && model.status !== statusConts.Reject && !model.rejectGuid
      "
    >
      <div class="col-md-4">
        <div class="form-group">
          <label for="agreeDate">{{ "AGREE_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.agreeDate"
            [disabled]="true"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="agreeReason">{{ "AGREE_REASON" | translate }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.agreeReason"
            maxlength="100"
            type="text"
            class="form-control"
            [disabled]="disabledAgreeReason(model)"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="agreeGuid">{{ "AGREE_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="agreeGuid"
                [(selectedValue)]="model.agreeGuid"
                [disabled]="true"
              >
              </app-account-dropdownlist>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
              *ngIf="visibledAgree(model)"
              [disabled]="model.agreeGuid"
              (click)="agree()"
              class="btn btn-success mb-3 ml-2"
            >
              {{ "Agree" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- End agree -->

    <!-- Reject -->
    <div
      class="row"
      *ngIf="
        model.id > 0 && model.status != statusConts.Agree && !model.agreeGuid
      "
    >
      <div class="col-md-4">
        <div class="form-group">
          <label for="rejectDate">{{ "REJECT_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.rejectDate"
            [disabled]="true"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="rejectReason">{{ "REJECT_REASON" | translate }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.rejectReason"
            maxlength="100"
            type="text"
            class="form-control"
            [disabled]="disabledRejectReason(model)"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="rejectGuid">{{ "REJECT_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="rejectGuid"
                [(selectedValue)]="model.rejectGuid"
                [disabled]="true"
              >
              </app-account-dropdownlist>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
              *ngIf="visibledReject(model)"
              [disabled]="model.agreeGuid"
              (click)="reject()"
              class="btn btn-danger mb-3 ml-2"
            >
              {{ "Reject" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- End reject -->

    <!-- Execute -->
    <div
      class="row"
      *ngIf="
        model.id > 0 &&
        ((model.status === statusConts.Execute && model.executeGuid) ||
          (model.status === statusConts.Agree && model.agreeGuid))
      "
    >
      <div class="col-md-4">
        <div class="form-group">
          <label for="executeDate">{{ "EXECUTE_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.executeDate"
            [disabled]="true"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="executeReason">{{ "EXECUTE_REASON" | translate }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.executeReason"
            maxlength="100"
            type="text"
            class="form-control"
            [disabled]="disabledInput(model.executeDate)"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="executeGuid">{{ "EXECUTE_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="executeGuid"
                [(selectedValue)]="model.executeGuid"
                [disabled]="true"
              >
              </app-account-dropdownlist>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
              *ngIf="
                (model.id > 0 && model.status === statusConts.Agree) ||
                (model.id > 0 && enabledInput(model.executeDate))
              "
              (click)="execute()"
              class="btn btn-success mb-3 ml-2"
            >
              {{ "Execute" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- End execute -->
    <div class="row">
      <div class="col-md-4">
        <label for="roomGuid">{{ "ROOM" | translate }}</label
        ><span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
        <app-room-dropdownlist
          id="roomGuid"
          [(selectedValue)]="roomGuid"
          [makeOrderGuid]="model.makeOrderGuid"
          [disabled]="true"
          (ngModelChange)="onChangeRoom($event)"
        >
        </app-room-dropdownlist>
      </div>
      <div class="col-md-4">
        <label for="penGuid">{{ "Pen" | translate }}</label>
        <ejs-multiselect
          id="multiselect-checkbox"
          [enabled]="
            !(
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            )
          "
          (actionComplete)="actionComplete($event)"
          (filtering)="onFiltering($event)"
          [allowFiltering]="true"
          [dataSource]="dataPen"
          [query]="queryPen"
          [fields]="fields"
          mode="CheckBox"
          popupHeight="350px"
          [showDropDownIcon]="true"
          [(value)]="selectedPen"
          (change)="onChangePen($event)"
          showSelectAll="true"
        ></ejs-multiselect>
      </div>
      <div class="col-md-4">
        <label for="pigGuid">{{ "Pig" | translate }}</label>
        <ejs-multiselect
          id="pig-multiselect-checkbox"
          [enabled]="
            !(
              (model.status === statusConts.Execute &&
                disabledInput(model.executeDate)) ||
              model.status === statusConts.Reject
            )
          "
          (actionComplete)="actionCompletePig($event)"
          (filtering)="onFilteringPig($event)"
          [allowFiltering]="true"
          [dataSource]="dataPig"
          [query]="queryPig"
          [fields]="fields"
          mode="CheckBox"
          popupHeight="350px"
          [showDropDownIcon]="true"
          [(value)]="selectedPig"
          (change)="onChangePig($event)"
          showSelectAll="true"
        ></ejs-multiselect>
      </div>
      <div class="col-md-4 mt-2">
        <ejs-grid
          #pengrid
          [dataSource]="selectedPenData"
          [enableInfiniteScrolling]="true"
          [allowPaging]="false"
          [pageSettings]="pageSettings"
          [searchSettings]="searchOptions"
          [toolbar]="['Search']"
          [height]="300 + 'px'"
          gridLines="Both"
        >
          <e-columns>
            <e-column
              field="name"
              [allowSorting]="false"
              [allowSearching]="false"
              [allowGrouping]="false"
              [allowFiltering]="false"
              [allowEditing]="false"
              textAlign="Left"
              headerTextAlign="Center"
              width="80"
              headerTextAlign="Center"
              headerText="{{ 'SELECTED PEN LIST' | translate }}"
            >
              <!-- <ng-template #template let-data>
          <ejs-checkbox [disabled]="model.status === statusConts.Execute && disabledInput(model.executeDate) || model.status === statusConts.Reject" #checkbox (change)="onChangeChecked($event, data)" [label]="data.name" [checked]="data.checked"></ejs-checkbox>
        </ng-template> -->
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <div class="col-md-8 mt-2">
        <app-selectedpig-grid
          [(selectedPigDataSource)]="selectedPigData"
          [(avgWeight)]="avgWeight"
          [codeType]="'Death_Next1'"
          [visibleWeight]="false"
          [visibleDisease]="false"
          [visibleAmount]="false"
        >
        </app-selectedpig-grid>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="avgWeight"
                >{{ "AVG_WEIGHT" | translate }}: {{ avgWeight }}</label
              >
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="avgWeight"
                >{{ "Total_Selected" | translate }} :
                {{ selectedPigData.length }}</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label ngbTooltip="RECORD_DEATH_COMMENT" for="comment">{{
            "RECORD_DEATH_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <div class="mr-auto primary-key" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">ID</span> : {{ model?.id }}</span
        >
        <span
          ><span class="my-font-weight-bold">GUID</span> :
          {{ model?.guid }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <div *ngFor="let item of configButtonData">
      <button
      type="button"
      class="btn"
      *ngIf="model.guid"
      [class.btn-success]="item.no.includes('Next')"
      [class.btn-danger]="item.no.includes('Exception')"
      (click)="goToLink(item)"
    >
      {{ item.value | translate }}
    </button>
    </div>

  </div>

</div>
