<ngx-spinner name="default" bdColor="rgba(255,255,255,0.62)" size="default" color="#007bff" type="la-ball-clip-rotate"
          [fullScreen]="false">
          <div class="la-ball-clip-rotate">
            <div></div>
          </div>
        </ngx-spinner>
<div class="backend-container">
  <div class="wrap sidebar-mini"></div>
  <div class="menu-collapse"></div>
  <app-navbar></app-navbar>
  <app-breadcrumb></app-breadcrumb>

  <div class="container-fluid mt-2">
  <router-outlet></router-outlet>

  </div>




  
