
<div class="control-section">
  <div id="wrapper">
    <div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">

      <div class="main-header" id="header-section">

        <div id="myLinks">
          <a (click)="toggleSidebar()" routerLink="/mobile/account">{{ 'My Account' | translate }}</a>
          <a (click)="toggleSidebar()" routerLink="/mobile/report">{{ 'My Report' | translate }}</a>
          <a (click)="toggleSidebar()" routerLink="/mobile/field">{{ 'My Field' | translate }}</a>
          
        </div>
        <ul class="header-list">
          <li  class="float-right">
            <div class="notification">
              <div class="notBtn" href="#">
               <div class = "number">3</div>
                 <!-- <div class="number2">10</div> -->
                <i class="fas fa-bell"></i>
                <!-- <div class="box">
                  <div class="display">
                    <div class="nothing">
                      <i class="fas fa-child stick"></i>
                      <div class="cent">Looks Like your all caught up!</div>
                    </div>
                    <div class="cont">
                      <div class="sec new">
                        <a href="https://codepen.io/Golez/">
                          <div class="profCont">
                            <img
                              class="profile"
                              src="https://c1.staticflickr.com/5/4007/4626436851_5629a97f30_b.jpg"
                            />
                          </div>
                          <div class="txt">James liked your post: "Pure css notification box"</div>
                          <div class="txt sub">11/7 - 2:30 pm</div>
                        </a>
                      </div>
                     
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            
          </li>
          <li 
          class="float-left header-style icon-menu"
          id="hamburger"
          (click)="toggleSidebar()"
          ></li>

          <li class="float-right header-style nav-pane d-flex ">
            <ejs-dropdownlist  id="lang-select-dropdown" [(ngModel)]="lang" (change)="langValueChange($event)" [fields]="fieldsLang" [dataSource]="languageData">
              <ng-template #itemTemplate="" let-data="">
                <div class="text-black">{{data?.id}}</div>
              </ng-template>
              <ng-template #valueTemplate="" let-data="">
                <div class="text-black">{{data?.id }}</div>
              </ng-template>
            </ejs-dropdownlist>
          </li>

          <li class="float-left header-style nav-pane d-flex justify-content-start">
            <b *ngIf="currentRouter !== currentRouter_default" (click)="goBack()" class="mr-sm-2 mr-lg-2  mr-md-2"><span class="e-icons e-arrow-left-2"></span></b>
            <b (click)="goToHome()"> {{'後台管理系統' | translate}}</b>
          </li>
        </ul>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
