
<div class="control-section">
  <div id="wrapper">
    <div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">

      <div class="main-header" id="header-section">
        <ul class="header-list">
          <li 
          class="float-right header-style icon-menu"
          id="hamburger"
          (click)="toggleSidebar()"
          ></li>

          <li class="float-right header-style nav-pane d-flex ">
            <ejs-dropdownlist  id="lang-select-dropdown" [(ngModel)]="lang" (change)="langValueChange($event)" [fields]="fieldsLang" [dataSource]="languageData">
              <ng-template #itemTemplate="" let-data="">
                <div class="text-black">{{data?.id}}</div>
              </ng-template>
              <ng-template #valueTemplate="" let-data="">
                <div class="text-black">{{data?.id }}</div>
              </ng-template>
            </ejs-dropdownlist>
          </li>

          <li class="float-left header-style nav-pane d-flex justify-content-start">
            <b *ngIf="currentRouter !== currentRouter_default" (click)="goBack()" class="mr-sm-2 mr-lg-2  mr-md-2"><span class="e-icons e-arrow-left-2"></span></b>
            <b (click)="goToHome()"> {{'後台管理系統' | translate}}</b>
          </li>
        </ul>
      </div>

      <router-outlet></router-outlet>

      <!-- <div class="footer d-sm-block d-lg-none"  style="height: 100px; background-color: #145574;">

        <div class="row">
          <div class="col d-sm-block d-lg-none d-flex align-items-center justify-content-center">
            <a  class="btn-mobile-login" >{{'COPY_RIGHT' | translate}}</a>
          </div>
        </div>
      
      </div>
      <div class="clearfix">
        <div class="float-left">
          
        </div>
        <div class="float-right">
          
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- <div class="mb-5"></div> -->
<!-- 
<footer>
  <div class="navbar navbar-mobile">
    <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"  routerLink="/mobile/home"><i class="fa fa-home"></i> {{ 'Home' | translate }}</a>
    <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"  routerLink="/mobile/repair"><i class="fa fa-cog"></i> {{ 'Repair' | translate }}</a>
    <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"  routerLink="/mobile/report"><i class="fa fa-file"></i> {{ 'Report' | translate }}</a>
    <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"  routerLink="/mobile/account"><i class="fa fa-user"></i> {{ 'Account' | translate }}</a>
  </div>
</footer> -->