<ng-template #actionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title | translate }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
    <span aria-hidden="true">&times;</span>

  </button>
  </div>
  <div class="modal-body">
    <div class="row">

          <div class="col-6">
            <label>{{ "User2Bank_Bank_Account" | translate }} </label>
            <span class="max-length">
              ( {{ "Text length" | translate }} <= 40 )</span
            >
            <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
            <div class="form-group">
              <input
                maxlength="40"
                type="text"
                [(ngModel)]="model.bankAccount"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="User2Bank_Status">{{ "User2Bank_Status" | translate }}</label>
              <app-code-type-dropdownlist
                id="User2Bank_Status"
                [codeType]="'User2Bank'"
                [(selectedValue)]="model.status"
              >
              </app-code-type-dropdownlist>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="User2Bank_Status">{{ "User2Bank_Bank" | translate }}</label>
              <app-bank-dropdownlist
                id="bank"
                [(selectedValue)]="model.bankGuid"
              >
              </app-bank-dropdownlist>
            </div>
          </div>

          <div class="col-12">
            <label>{{ "User2Bank_Comment" | translate }} </label>
            <div class="form-group">
              <textarea
                class="form-control"
                [(ngModel)]="model.comment"
                cols="4"
                rows="4"
              ></textarea>
            </div>
          </div>
       
     
      </div>
    </div>

    
  <div class="modal-footer">
    <button
    [disabled]="!model.bankAccount"
    (click)="save()"
    class="btn btn-primary"
  >
    {{ "SAVE" | translate }}
  </button>
  </div>
</ng-template>
