.title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    display: block;
}.title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    display: block;
}
.e-grid .e-active {
    background-color: #609b79 !important;
  }
  