<ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>

<div class="col-12" style="box-shadow: 1px 1px 20px; padding: 0">
  <div class="card main-card">
    <div class="card-body table-responsive p-0">
      <ejs-grid
        #grid
        id="grid"
        [dataSource]="data"
        [allowPaging]="true"
        [allowResizing]="true"
        [showColumnMenu]="false"
        [allowSorting]="true"
        [allowExcelExport]="true"
        [toolbar]="toolbarOptions"
        [pageSettings]="pageSettings"
        [enableInfiniteScrolling]="true"
        height="70vh"
        gridLines="Both"
        [editSettings]="editSettings"
        (toolbarClick)="toolbarClick($event)"
        (excelExportComplete)="excelExpComplete($event)"
      >
        <e-columns>
          <e-column
            field="option"
            textAlign="Left"
            headerTextAlign="Center"
            width="80"
            headerTextAlign="Center"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [allowFiltering]="false"
            [allowEditing]="false"
            headerText="{{ 'OPTION' | translate }}"
          >
            <ng-template #odsTemplate let-data>
              <button
                class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
                type="button"
                id="grid_odsexport"
                tabindex="-1"
                (click)="odsExport()"
                style="width: auto"
              >
                <span class="e-btn-icon e-pdfexport e-icons e-icon-left"></span
                ><span class="e-tbar-btn-text"
                  >{{ "Ods Export" | translate }}
                </span>
              </button>
            </ng-template>
            <ng-template #template let-data>
              <span (click)="delete(data.id)" class="delete-grid">
                <i class="fa fa-trash"></i>
              </span>
              <span (click)="openModal(optionModal, data)" class="edit-grid">
                <i class="fa fa-edit"></i>
              </span>
            </ng-template>
          </e-column>

          <e-column
            field="id"
            [allowSearching]="false"
            textAlign="Left"
            headerTextAlign="Center"
            [visible]="false"
            isPrimaryKey="true"
            headerText="{{ 'ID' }}"
          >
          </e-column>
          <e-column
            field="landLordNo"
            textAlign="Left"
            headerTextAlign="Center"
            [width]="120"
            headerText="{{ 'LandLord_NO' | translate }}"
          >
          </e-column>
          <e-column
            field="landLordName"
            textAlign="Left"
            headerTextAlign="Center"
            [width]="100"
            headerText="{{ 'LandLord_NAME' | translate }}"
          >
          </e-column>

          <e-column
            field="landLordMobile"
            textAlign="Left"
            headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'LandLord_MOBILE' | translate }}"
          >
          </e-column>

          <e-column
            field="landLordAddress"
            textAlign="Left"
            headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'LandLord_ADDRESS' | translate }}"
          >
          </e-column>

          <e-column
            field="landLordIdcard"
            textAlign="Left"
            headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'LandLord_IDCARD' | translate }}"
          >
          </e-column>

          <e-column
            field="landLordEmail"
            textAlign="Left"
            headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'LandLord_EMAIL' | translate }}"
          >
          </e-column>

          <e-column
            field="comment"
            [allowSearching]="false"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'LandLord_COMMENT' | translate }}"
          >
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="option">

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="Site_GUID">{{ "Site_GUID" | translate }}</label>
          <app-site-dropdownlist
            id="Site_GUID"
            [(selectedValue)]="model.siteGuid"
          >
          </app-site-dropdownlist>
        </div>
      </div>
      <div class="w-100"></div>
    </div>
    

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label for="uid">{{ "LandLord_UID" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span ngbTooltip="( Text length <= 50 )" class="max-length"> ( {{"Text length"| translate }} <= 50 )</span>
          <input
            [(ngModel)]="model.uid"
            maxlength="50"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="uid">{{ "LandLord_UPWD" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span ngbTooltip="( Text length <= 200 )" class="max-length"> ( {{"Text length"| translate }} <= 50 )</span>
          <input
            [(ngModel)]="model.upwd"
            maxlength="200"
            type="password"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordNo">{{ "LandLord_NO" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 20 )</span
          >

          <input
            [(ngModel)]="model.landLordNo"
            maxlength="20"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordName">{{ "LandLord_NAME" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 20 )</span
          >

          <input
            [(ngModel)]="model.landLordName"
            maxlength="20"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      
      <div class="col-6">
      <div class="form-group">
        <label for="landLordSex">{{ "LandLord_SEX" | translate }}</label>
        <app-code-type-dropdownlist
          id="sex-remote"
          [codeType]="'LandLord_SEX'"
          (ngModelChange)="sexChange($event)"
          [selectedValue]="model.landLordSex + ''"
        >
        </app-code-type-dropdownlist>
      </div>
    </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordBirthday">{{
            "LandLord_BIRTHDAY" | translate
          }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.landLordBirthday"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordIdcard">{{
            "LandLord_IDCARD" | translate
          }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 20 )</span
          >
          <input
            [(ngModel)]="model.landLordIdcard"
            maxlength="20"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordEmail">{{ "LandLord_EMAIL" | translate }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.landLordEmail"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordMobile">{{
            "LandLord_MOBILE" | translate
          }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 10 )</span
          >
          <input
            [(ngModel)]="model.landLordMobile"
            maxlength="10"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="landLordAddress">{{
            "LandLord_ADDRESS" | translate
          }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.landLordAddress"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="kv-avatar">
          <div class="file-loading">
            <input
              id="avatar-1"
              name="avatar-1"
              (change)="onFileChangeLogo($event)"
              type="file"
              required
            />
          </div>
        </div>
        <div class="kv-avatar-hint">
          <small>{{ "Select file < 5000 KB" | translate }}</small>
        </div>
      </div>

      <div class="col-12">
        <label>{{ "LandLord_COMMENT" | translate }}</label>
        <div class="form-group">
          <textarea
            class="form-control"
            [(ngModel)]="model.comment"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="!model.landLordName"
      (click)="save()"
      ngbTooltip="SAVE"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
