<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <button
        type="submit"
        [disabled]="
          !model.accountName ||
          !model.accountNo ||
          !model.uid ||
          !model.upwd ||
          !model.accountGroup 
        "
        (click)="save()"
        class="btn btn-success"
      >
        {{ "SAVE" | translate }}
      </button>
      </div>
      <div class="card-body">
          <div class="d-flex justify-content-center" *ngIf="loading == 1">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
           </div>

           <div class="form-group row">
            <label for="ID" class="col-sm-2 col-form-label">{{ 'ID' | translate }}</label>
            <div class="col-sm-10">
              <span *ngIf="model?.accountId > 0">{{model.accountId}}</span>
            </div>
          </div>

           <div class="form-group row">
            <label for="accountNO" class="col-sm-2 col-form-label">{{ this.role + '_Status' | translate }}</label>
            <div class="col-sm-10 d-flex align-items-center">
              <ejs-switch  [onLabel]="'Active' | translate " [offLabel]="'Inactive' | translate " (change)="changeStatus($event)" [checked]="model.status == '1'"></ejs-switch>

            </div>
          </div>

           <fieldset class="form-group">
            <div class="row">
              <label for="accountGroup" class="col-sm-2 col-form-label">{{ 'Role_Type' | translate }}</label>
              <div class="col-sm-10 d-flex align-items-center">
                <div class="d-flex align-items-start flex-column">
                  <div class="mb-2">
                    <ng-container
                      *ngFor="let item of roles; let i =index">
                        <div class="pretty p-default p-round p-thick" style="width: 105px;">
                          <input type="radio" name="xaccountGroup" [value]="item.guid" (change)="checkedRole($event)" [checked]="checked(item,i)">
                          <div class="state">
                              <label>{{item.groupName}}</label>
                          </div>
                      </div>
                        
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>


           <div class="form-group row">
            <label for="accountNO" class="col-sm-2 col-form-label">{{ this.role + '_NO' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="model.accountNo" id="accountNO" [placeholder]="'Enter a ' + this.role + ' NO' | translate">
            </div>
          </div>

          <div class="form-group row">
            <label for="accountName" class="col-sm-2 col-form-label">{{ this.role + '_Name' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="model.accountName" id="accountName" [placeholder]="'Enter a ' + this.role + ' name' | translate">
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
              <label for="accountSex" class="col-sm-2 col-form-label">{{ this.role + '_Sex' | translate }}</label>
              <div class="col-sm-10 d-flex align-items-center">
                <ng-container
                 *ngFor="let item of sexData; let i =index">
                  <div class="pretty p-default p-round p-thick">
                    <input type="radio" name="radio1"  [value]="item.value" [checked]="i==0">
                    <div class="state">
                        <label>{{item.name}}</label>
                    </div>
                </div>
                  
              </ng-container>
              </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <label for="accountIdCard" class="col-sm-2 col-form-label">{{ this.role + '_IDCARD' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="model.accountIdcard" id="accountIdCard" [placeholder]="'Enter a ' + this.role + ' IDCARD' | translate">
            </div>
          </div>

          <div class="form-group row">
            <label for="accountMobile" class="col-sm-2 col-form-label">{{ this.role + '_MOBILE' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="accountMobile" [(ngModel)]="model.accountMobile" [placeholder]="'Enter a ' + this.role + ' mobile' | translate">
            </div>
          </div>

          <div class="form-group row">
            <label for="accountUid" class="col-sm-2 col-form-label">{{ this.role + '_UID' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="accountUid" [(ngModel)]="model.uid" [placeholder]="'Enter a ' + this.role + ' uid' | translate">
            </div>
          </div>


          <div class="form-group row">
            <label for="accountPassword" class="col-sm-2 col-form-label">{{ this.role + '_PWD' | translate }}</label>
            <div class="col-sm-10 ">
             <div class="password">
              <input [type]="inputType" class="form-control" id="accountPassword" [(ngModel)]="model.upwd" [placeholder]="'Enter a pwd' | translate">
              <span class="eye" (click)="togglePassword()">
                <i class="fa fa-eye" *ngIf="inputType==='password'" ></i>
                <i class="fa fa-eye-slash" *ngIf="inputType==='text'" ></i>
               </span>
             </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="model?.accountId == 0">
            <label for="accountRePassword" class="col-sm-2 col-form-label">{{ this.role + '_Re_PWD' | translate }}</label>
            <div class="col-sm-10 ">
             <div class="password">
              <input [type]="inputTypeRePw" (change)="changeRepassword($event)" class="form-control" id="accountRePassword" [(ngModel)]="model.reupwd" [placeholder]="'Enter a re pwd' | translate">
              <span class="eye" (click)="toggleRePassword()">
                <i class="fa fa-eye" *ngIf="inputTypeRePw==='password'" ></i>
                <i class="fa fa-eye-slash" *ngIf="inputTypeRePw==='text'" ></i>
               </span>
             </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="contactName" class="col-sm-2 col-form-label">{{ 'ContactName' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contactName" [(ngModel)]="model.contactName" [placeholder]="'Enter a contact name' | translate">
            </div>
          </div>


          <div class="form-group row">
            <label for="ContactRel" class="col-sm-2 col-form-label">{{ 'ContactRel' | translate }}</label>
            <div class="col-sm-10 text-secondary">
              <ejs-dropdownlist
              id="contactRel"
              [(value)]="contactRel"
              [dataSource]="contactRelData"
              [allowFiltering]="true"
              [showClearButton]="true"
              [placeholder]="'Choice a contact rel' | translate"
              [fields]="{text: 'name', value: 'guid'}"
            ></ejs-dropdownlist>
            </div>
          </div>

          <div class="form-group row">
            <label for="contactTel" class="col-sm-2 col-form-label">{{ 'ContactTel' | translate }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contactTel" [(ngModel)]="model.contactTel" [placeholder]="'Enter a contact tel' | translate">
            </div>
          </div>


          <div class="form-group row">
            <label for="accountComment" class="col-sm-2 col-form-label">{{ this.role + '_Comment' | translate }}</label>
            <div class="col-sm-10">
              <textarea
              class="form-control"
              [(ngModel)]="model.comment"
              cols="4"
              rows="4"
            ></textarea>

            <div class="mr-auto" *ngIf="model?.accountId > 0">
              <p>
                <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
                <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
              </p>
             
            </div>

            </div>
          </div>
          
          
          <div class="form-group row" *ngIf="model.accountId > 0">
            <label for="contactTel" class="col-sm-2 col-form-label">{{ '' | translate }}</label>
            <div class="col-sm-3">
            <label class="">{{ 'Audit_Logs' | translate }}</label>
              
<ejs-grid
#grid
id="grid"
[dataSource]="auditLogsData$"
[allowPaging]="true"
[allowResizing]="true"
[allowSorting]="true"
gridLines="Both"
[locale]="locale"
[query]="auditLogsQuery"
[allowExcelExport]="true"
>

<ng-template #pagerTemplate let-data>
  <pre
  class="page-text"
  [translate]="pageText"
  [translateParams]="{ items: grid.pageSettings.totalRecordsCount }"
  > </pre>
 <div class="d-flex justify-content-center">
  <ngb-pagination
  [collectionSize]="grid.pageSettings.totalRecordsCount"
  [(page)]="grid.pageSettings.currentPage"
  [pageSize]="grid.pageSettings.pageSize"
  [maxSize]="5"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
>

<ng-template ngbPaginationFirst><i class="fa fa-step-backward"></i></ng-template>
<ng-template ngbPaginationLast><i class="fa fa-step-forward"></i></ng-template>
<ng-template ngbPaginationPrevious><i class="fa fa-caret-left"></i></ng-template>
<ng-template ngbPaginationNext><i class="fa fa-caret-right"></i></ng-template>
<ng-template ngbPaginationEllipsis>...</ng-template>
<ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>

</ngb-pagination>
 </div>
  </ng-template>

<e-columns>
  

<e-column
field="actionTypeName"
width="120px"
textAlign="Left"
headerTextAlign="Center"
headerText="{{ 'ActionType' | translate }}"
>

<ng-template #template let-data>
  {{ data.actionTypeName | translate }}
</ng-template>

</e-column>

  <e-column
    field="accountName"
    width="120px"
    textAlign="Left"
  headerTextAlign="Center"
    headerText="{{ 'UID' | translate }}"
  >
  </e-column>


  <e-column
  field="createDate"
  editType="datetime"
  format="yyyy-MM-dd HH:mm:ss"
  textAlign="Left"
headerTextAlign="Center"
  headerText="{{ 'Create_Date' | translate }}"
>
</e-column>


</e-columns>
</ejs-grid>
            </div>
          </div>

          
      </div>
    
    </div>
  </div>
</div>

