<!-- <div class="card card-primary card-outline">
  <div class="card-body box-profile">
    <div class="text-center">
      <img
        class="profile-user-img img-fluid img-circle"
        width="120"
        src="https://t3.ftcdn.net/jpg/04/34/72/82/240_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg"
        alt="User profile picture"
      />
    </div>
    <h4 class="profile-username text-center">{{user?.accountName}}</h4>
    <p class="text-muted text-center">{{user?.email}}</p>
  
    <a  routerLink="/mobile/account" class="btn btn-primary btn-block"><b> <i class="fa fa-user"></i> {{ "My Account" | translate}}</b></a>
    <a  routerLink="/mobile/report" class="btn btn-primary btn-block"><b> <i class="fa fa-file"></i>{{ "My Report" | translate}}</b></a>
    <a  routerLink="/mobile/repair" class="btn btn-primary btn-block"><b> <i class="fa fa-cog"></i>{{ "My Repair" | translate}}</b></a>
  </div>
</div> -->

<p style="font-size:32px;text-align:center;">
  <span>您尚未設定收款帳戶</span>
</p>
<p style="font-size:12px;text-align:center;">
  <span>Havn't Bank Account</span>
</p>

<div class="account-info d-flex justify-content-center align-items-center m-2" routerLink="/mobile/account/bank">
  <i class="fa fa-plus mr-1" style="font-size:32px;"></i> 
  <span style="font-size:32px;"> 新增收款帳戶</span>
</div>