.account-info {
    border: 1px dashed;
    height: 99px;
}
.fs-account {
    font-size:32px;
     color: #0040f3
}
.my-img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    min-height: 180px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}